/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    /**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main-menu {
        flex-wrap: wrap;
        .menu-item:last-child {
            margin-top: 25px;
        }
     }
    .first-screen-wrapper { 
        justify-content: flex-start;
    }

    .image-wraper {
        margin: 0;
    }

	.out-numbers {
        margin-top: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .first-screen-wrapper { 
        justify-content: flex-start;
        padding: 0 30px;
    }

    .out-numbers, .text-second-header {
        text-align: center;
        justify-content: center;
        align-items: center;
        .images-wrapper {
            flex-direction: row;
            .image1:first-child {
                margin-right: 20px;
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    /**/
    .main-header {
        text-align: center;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	/**/
}
