@import "libs";

body {
	font-size: 14px;
	color: #fff;
}

.main {
	background-image: url('../img/main-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	.overlay {
		background-color: #333333;
		width: 100%;
		height: 100%;
		opacity: 0.85;
	}
}
 
.main-menu {
	display:flex;
	justify-content: center;
}

	.main-menu p {
		font-weight: bold;
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-right: 63px;
		margin-top: 50px;
		height: 27px;}

	.main-menu p:nth-child(5) {
		margin-right: 167px;}

	.main-menu p:last-child {	
		margin-right: 0px;
		border-bottom: 2px solid #D1A954;	
		}

.first-screen-content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top:100px;
		}

.image-wraper{ display: flex;
justify-content: flex-start;
flex-direction: column;
margin-right:120px;
;}


.first-screen-text {
	width: 540px;
	height: 296px; 
}

.image-afisha {
	display:flex;
	justify-content: center;
	
	z-index: 10;
}

.first-image { 
	position: relative;
	z-index: 10;
	width: 280px;
	height: 390px;
}

.second-image { 
	position: absolute;
	z-index: 1;
	width: 280px;
	height: 390px;
	margin-top: 10px;
	margin-left: 10px;
}

h1 {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;}

.about-main-header {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;}



/*
.image-afisha .second-image {
	width: 250px;
	height: 360px;
	z-index: 100;
}
*/


.afisha-button {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 140px;
	height: 40px;
	background-color: #D1A954;
	
}

.afisha-button p {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;	
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}
