@import "libs";

body {
	font-size: 14px;
	color: #fff;
}

.main {
	background-image: url('../img/main-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	.overlay {
		background-color: #333333;
		width: 100%;
		height: 100%;
		opacity: 0.85;
	}
}
	.first-screen-wrapper {
		display: flex;
		height: 100%;
	}
 
.main-menu {
	display:flex;
	
	position: absolute;
	top: 30px;
	left: 15%;
}

	.main-menu a {
		font-weight: bold;
		font-size: 11px;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-right: 63px;
		margin-top: 50px;
		height: 27px;}

	.main-menu p:nth-child(5) {
		margin-right: 167px;}

	.main-menu p:last-child {	
		margin-right: 0px;
		}
	.tel a {
		border-bottom: 2px solid #D1A954;
	}

.first-screen-content {
		display: flex;
		justify-content: center;
		align-items: center;;
		flex-wrap: wrap;
	}

.image-wraper{ display: flex;
justify-content: flex-start;
flex-direction: column;
margin-right:120px;
;}


.first-screen-text {
	width: 540px;
	height: 296px; 
}

.image-afisha {
	display:flex;
	justify-content: center;
	
	z-index: 10;
}

.first-image { 
	position: relative;
	z-index: 10;
	width: 280px;
	height: 390px;
}

.second-image { 
	position: absolute;
	z-index: 1;
	width: 280px;
	height: 390px;
	margin-top: 10px;
	margin-left: 10px;
}

h1 {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;}

.about-main-header {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;}



/*
.image-afisha .second-image {
	width: 250px;
	height: 360px;
	z-index: 100;
}
*/


.afisha-button {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 140px;
	height: 40px;
	background-color: #D1A954;
	
}

.afisha-button p {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;	
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}


.overlay2 {
	background-color: #333333;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.wraper-second-header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

}

.second-wraper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.second-header { 
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	width: 100%;
	margin-right: 30px;
}
h2 span { 
	color:  #D1A954;
	letter-spacing: 0.1em;
	
}
.text-second-header {
	width: 445px;
	height: auto;
	margin-right: 30px;
}

.text-second-header span {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;}

.image-theater { 
	width: 350px;
	height: 292px;
}

.about-span-header {font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-right: 30px;}

.number1,
.number2 {
	color:  #D1A954;
	letter-spacing: 0.5em;
}

.image-armshair,
.image-window {
	width: 70px;
	height: 65;
}




.overlay3 {
	background-color: #333333;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	padding: 40px 0;
}

.wraper-our-performances {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.third-header {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	width: 100%;
}

.perfomance {
	display: flex;
	margin-top: 80px;
	

	.image-lightbox {
		position: relative;
		flex-grow: 1;
		text-transform: uppercase;
		margin: 0;
		font-size: 12px;

		img {
			width: 100%;
			filter: brightness(80%);
		}

		.perfomance-name {
			visibility: visible;
			opacity: 1;
			transition: visibility 0.3s linear,opacity 0.3s linear;

			position: absolute;
			top: 20px;
			left: 20px;
		}

		.perfomance-date {
			visibility: visible;
			opacity: 1;
			transition: visibility 0.3s linear,opacity 0.3s linear;

			position: absolute;
			bottom: 20px;
			left: 20px;
		}

		.ellipsis {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0.1s linear,opacity 0.1s linear;

			margin: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background: #D1A954;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

			.lupa {
				display: block;
				width: 40%;
				
			}
		}

		&:hover {
			cursor: pointer;
			
			img {
				filter: brightness(100%);
			}

			.ellipsis {
				visibility: visible;
				opacity: 1;
			}

			.perfomance-name {
				visibility: hidden;
				opacity: 0;
			}

			.perfomance-date {
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}


/*s
.first-image-perfomance { 
	background-image: url(../img/image1perfomance.png);
	position: relative;
	z-index: 100;
	width: 350px;
	height: 450px;
}

h2 .first-image-perfomance  {
	position: absolute;
	z-index: 200;
}

h2 .first-image-perfomance {
	position: absolute;
	z-index: 200;
}
*/
