@import "libs";
@import "fonts";

body {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: #333333;
}

.main {
	background-image: url('../img/main-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	.overlay {
		background-color: #333333;
		width: 100%;
		height: 100%;
		opacity: 0.85;
	}
}
	.first-screen-wrapper {
		display: flex;
		height: 100%;
	}
 
.main-menu {
	display:flex;
	
	position: absolute;
	top: 30px;
	left: 15%;
}

	.main-menu a {
		font-weight: bold;
		font-size: 11px;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-right: 63px;
		margin-top: 50px;
		height: 27px;}

	.main-menu p:nth-child(5) {
		margin-right: 167px;}

	.main-menu p:last-child {	
		margin-right: 0px;
		}
	.tel a {
		border-bottom: 2px solid #D1A954;
	}

.first-screen-content {
		display: flex;
		justify-content: center;
		align-items: center;;
		flex-wrap: wrap;
	}

.image-wraper{ display: flex;
justify-content: flex-start;
flex-direction: column;
margin-right:120px;
;}


.first-screen-text {
	width: 540px;
	height: 296px; 
}

.image-afisha {
	display:flex;
	justify-content: center;
	
	z-index: 10;
}

.first-image { 
	position: relative;
	z-index: 10;
	width: 280px;
	height: 390px;
}

.second-image { 
	position: absolute;
	z-index: 1;
	width: 280px;
	height: 390px;
	margin-top: 10px;
	margin-left: 10px;
}

h1 {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;}

.about-main-header {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;}



/*
.image-afisha .second-image {
	width: 250px;
	height: 360px;
	z-index: 100;
}
*/


.afisha-button {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 140px;
	height: 40px;
	background-color: #D1A954;
	
}

.afisha-button p {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;	
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}


.overlay2 {
	background-color: #333333;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.wraper-second-header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

}

.second-wraper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.second-header { 
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	width: 100%;
	margin-right: 30px;
}
h2 span { 
	color:  #D1A954;
	letter-spacing: 0.1em;
	
}
.text-second-header {
	display: flex;
	flex-direction: column;
}

.out-numbers {
	display: flex;
	flex-direction: column;
	.images-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
	}
}

.text-second-header span {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;}

.image-theater { 
	width: 350px;
	height: 292px;
}

.about-title {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-right: 30px;
}

.about-text {
	margin-top: 20px;
}

.number1,
.number2 {
	color:  #D1A954;
	letter-spacing: 0.5em;
}

.image-armshair,
.image-window {
	width: 70px;
	height: 70px;
}




.overlay3 {
	background-color: #333333;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	padding: 40px 0;
}

.wraper-our-performances {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.third-header,
.fourth-header,
.fifth-header {
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	width: 100%;
}

.perfomance {
	display: flex;
	margin-top: 80px;
	

	.image-lightbox {
		position: relative;
		flex-grow: 1;
		text-transform: uppercase;
		margin: 0;
		font-size: 12px;

		img {
			width: 100%;
			filter: brightness(50%);
			transition: filter 0.3s linear;
		}

		.perfomance-name {
			visibility: visible;
			opacity: 1;
			transition: visibility 0.3s linear,opacity 0.3s linear;

			position: absolute;
			top: 20px;
			left: 20px;
		}

		.perfomance-date {
			visibility: visible;
			opacity: 1;
			transition: visibility 0.3s linear,opacity 0.3s linear;

			position: absolute;
			bottom: 20px;
			left: 20px;
		}

		.ellipsis {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0.1s linear,opacity 0.1s linear;

			margin: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background: #D1A954;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

			.lupa {
				display: block;
				width: 40%;
				
			}
		}

		&:hover {
			cursor: pointer;
			
			img {
				filter: brightness(100%);
			}

			.ellipsis {
				visibility: visible;
				opacity: 1;
			}

			.perfomance-name {
				visibility: hidden;
				opacity: 0;
			}

			.perfomance-date {
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}


.wrapper-rates {
	display: flex;
	justify-content: center;
	margin-top: 80px;}

		.rate-content { 
			position: relative;


		}
		
		.rate-content .image {
			width: 100%;
			height: auto;
			filter: brightness(50%);
		}

		.years{
		position: absolute;
		display: flex;
		flex-direction: column;
		left: 190px;
		top: 126px;
		font-family: Open Sans Condensed;
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		line-height: 98px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #D1A954;
	}


		.rates-year { 
			margin: 0;
		}

		.star {
		position: absolute;
		top: 171px;
		left: 475px;
		}

		.star-img { 
			margin-right: 25px;
		}

/*
.star {
   margin: 50px 0;
   position: relative;
   display: block;
   color:  #D1A954;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid  #D1A954;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
} 
	&:before {
	border-bottom: 80px solid  #D1A954;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	-webkit-transform: rotate(-35deg);
	-moz-transform:    rotate(-35deg);
	-ms-transform:     rotate(-35deg);
	-o-transform:      rotate(-35deg);
	
	}
	&:after {
	position: absolute;
	display: block;
	color:  #D1A954;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid  #D1A954;
	border-left: 100px solid transparent;
	-webkit-transform: rotate(-70deg);
	-moz-transform:    rotate(-70deg);
	-ms-transform:     rotate(-70deg);
	-o-transform:      rotate(-70deg);
	content: '';
	}

*/

		.rate-content p {
			position: absolute;
			top: 180px;

			right: 95x;
			left: 475px;
			font-family: Open Sans Condensed;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 50px;
			letter-spacing: 0.1em;
	
			color: #ffffff	
		}

.theater-partners {
	display: flex;
	justify-content: center;}

.partner-logo {
	width: 1020px;
}
	.partner-logo .image { 
		width: 200px;
		height: 100px;
		margin-right: 70px;
	}

	.partner-logo .image:nth-child(4),
	.partner-logo .image:nth-child(8)
	 { 
		margin-right: 0px;
	}
	
/*
.maecenas-wraper {
		display: flex;
		justify-content: center;
	}

	.box input,
	.box textarea
	 { 
		background-color: #444444;
		border: 1px solid #616161;
		box-sizing: border-box;
		width: 180px;
		height: 35px;
		margin-right: 30px;
		margin-bottom: 30px;
	}

	.box textarea { 
		width: 310px;
		height: 100px;
	}

	.box .button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 190px;
		height: 50px;
		background-color: #D1A954;

		text-transform: uppercase;
		font-family: Open Sans Condensed;
		font-style: normal;
		font-weight: bold;
	}
 .form-box {
	display: flex;
	

 }

 .form-box form {
	 width: 800px;
	 height: 200px;
  }

		.part1,
		.part2,
		.part3 {
			display: flex;
			flex-direction: row;}
*/



.maecenas-wraper {
	display: grid;
	width: 1110px;
	height: 360px;
	grid-template-rows: 180px 180px;
	grid-template-columns:  auto auto auto auto auto auto auto auto;
	


	margin-left: 10%;


}

	.contacts-wraper {
		grid-column-start: 1;
	
		margin-top:30px;
		font-family: Open Sans Condensed;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		
	}

	.form-box form {
		display: grid;
		width: 560px;
		height: 360px;
		grid-template-rows: 180px 180px 180px;
		grid-template-columns:  auto auto auto;

	
		margin-left: 50px;
		grid-column-start: 2;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 3;
		gap: 30px;}

	.box input,
	.box textarea
	 { 
		background-color: #444444;
		border: 1px solid #616161;
		box-sizing: border-box;
		width: 180px;
		height: 35px;
		margin: 30px 0px 0px 0px;
		
	}

	.box textarea { 
		width: 310px;
		height: 100px;
	}

	.box .button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 190px;
		height: 50px;
		background-color: #D1A954;

		text-transform: uppercase;
		font-family: Open Sans Condensed;
		font-style: normal;
		font-weight: bold;
		margin-left: 120px;}

	form p {

		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 3;
		margin: -30px 0px 0px 30px;
	}

// Всегда в конце
@import "media";